astroid==2.4.1
backcall==0.1.0
certifi==2020.6.20
cffi==1.14.0
chardet==3.0.4
colorama==0.4.3
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
idna==2.10
ipython==7.14.0
ipython-genutils==0.2.0
isort==4.3.21
jedi==0.17.0
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.2.1
mccabe==0.6.1
numpy==1.18.4
parso==0.7.0
pickleshare==0.7.5
prompt-toolkit==3.0.5
pycparser==2.20
Pygments==2.6.1
pylint==2.5.2
pyparsing==3.0.0a1
python-dateutil==2.8.1
PyX==0.15
requests==2.24.0
scapy==2.4.3
six==1.14.0
toml==0.10.1
traitlets==4.3.3
urllib3==1.25.9
wcwidth==0.1.9
whois==0.9.7
wrapt==1.12.1
